@using Domain.Dtos.Book
@model List<BookDto>

    <partial name="_Notification" />
<div class="contrainer p-3">
    <div class="row pt-4">
        <div class="col-6">
            <h2 class="text-primary">Book List</h2>
        </div>
        <div class="col-6 text-end">
            <a asp-controller="Book" asp-action="Create" class="btn btn-primary">Create New Book</a>
        </div>

    </div>       

<table id="dtBasicExample" class="table table-striped table-bordered table-sm" cellspacing="0" width="100%">
  <thead>
    <tr>
      <th class="th-sm">
          Title
      </th>
      <th class="th-sm">
          Author
      </th>
      <th class="th-sm">
          Year
      </th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    @foreach (var item in Model)
    {
        <tr>
      <td>@item.Title</td>
      <td>@item.Author</td>
      <td>@item.Year</td>
      <td>
          <div class="w-75 btn-group text-end" role="group" >
              <a asp-controller="Book" asp-action="Edit" asp-route-id="@item.Id" class="btn btn-primary mx-2">
                  <i class="bi bi-pencil-square"></i>Edit </a>
              <a asp-controller="Book" asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger mx-2" width="5%">
                  <i class="bi bi-trash3"></i> </a>
          </div>
      </td>
    </tr>
    }
  </tbody>
</table>
</div>
